/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,700');

/* Icon font */
@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/chat/icomoon.eot?7atrck');
    src:  url('../../fonts/chat/icomoon.eot?7atrck#iefix') format('embedded-opentype'),
    url('../../fonts/chat/icomoon.ttf?7atrck') format('truetype'),
    url('../../fonts/chat/icomoon.woff?7atrck') format('woff'),
    url('../../fonts/chat/icomoon.svg?7atrck#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Icon definitions */
.icon-expand:before {
    content: "\e01a";
}
.icon-adjustments:before {
    content: "\e01d";
}
.icon-tools:before {
    content: "\e033";
}
.icon-chat:before {
    content: "\e049";
}

/* Flex */
html, body {
    height: 100%;
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
}

.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex: 0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
    margin: -.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div, .row-flex > div[class*='col-'] div {
    width: 100%;
}

.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    flex-flow: column nowrap;
}

.flex-grow {
    display: flex;
    -webkit-flex: 2;
    flex: 2;
}

.flex-start {
    align-items: flex-start;
}

.flex-center {
    align-items: center;
}

/* Helper classes */
.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.blue-background {
    background: #24344b;
}

.white-background {
    background: #ffffff;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-height-no-navbar {
    height: calc(100% - 51px);
}

.line-right {
    box-shadow: inset -1px 0 0 #f6f6f6;
}

.mr15 {
    margin-right: 15px;
}

.horizontal-divider{
    box-shadow: inset 0 -1px 0 #efefef;
    height: 2px;
}
/* Bootstrap override */
body{
    color: #a2a3a3;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default{
    background: #e96443;
    background: -webkit-linear-gradient(to left, #904e95, #e96443);
    background: linear-gradient(to left, #904e95, #e96443);
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #fff;
}

/* Master layout override */
#app {
    width: 100%;
    height: 100%;
}

/* Style for chat component */
#chat {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#chat .card {
    padding: 20px;
    display: block;
    text-align: center;
    width: calc(100% - 1px);
    height: auto;
    transition: all 0.1s ease-in;
    background: #fcfcfc;
    box-shadow: none;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
}


#chat .card:hover{
    background: #fff;
    box-shadow: 0px 0px 8px rgb(216, 216, 216);
}

#chat .card .card-img-top {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

#chat .card-title {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    height: 20px;
}

#chat .card-text {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#chat .chat-images {
    width: 88px;
    float: left;
    margin-right: 10px;
}

#chat .chat-images .chat-image {
    float: left;
}

#chat .chat-images .chat-image.big{
    width: 55px;
}

#chat .chat-images .chat-image.small{
    float: left;
    width: 28px;
    height: 28px;
    margin-left: 5px;
}

#chat #my-panel {
}

#chat #my-panel .top-icons {
    padding: 20px 30px;
    flex: 1 0 auto;
}

#chat #my-panel .top-icon {
    font-size: 20px;
    transition: 0.2s all ease-in;
    cursor: pointer;
}

#chat #my-panel .top-icon:hover {
    color: rgba(255, 255, 255, 0.7);
}

#chat #my-panel .user-data{
    flex-basis: 500px;
}

#chat #my-panel .user-data .user-image-frame {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    overflow: hidden;
}

#chat #my-panel .user-data .user-image-frame.user-image-big {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    margin: 40px auto 30px;
    box-sizing: content-box;
}

#chat #my-panel .user-data .user-image-frame .user-image {
    background: url('https://i.pinimg.com/736x/cb/e0/69/cbe0691c27232542a23d51adb939b45a--men-hair--medium-men-hairstyles--medium.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

#chat #my-panel .user-data .user-image-frame .user-image .user-image-hover {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 120px;
    background: rgba(255, 127, 127, 0.8);
    color: #fff;
    font-weight: bold;
    transition: 0.2s all ease-in;
    opacity: 0;
    cursor: pointer;
    font-size: 30px;
}

#chat #my-panel .user-data .user-image-frame .user-image:hover .user-image-hover {
    opacity: 1;
}

#chat #my-panel .user-data .user-name {
    font-size: 18px;
}

#chat #my-panel .user-data .user-email {
}

#chat #my-panel .user-message-types{
    overflow: auto;
}

#chat #my-panel .user-message-types .type-list {
    padding: 20px 15px;
    position: relative;
    border-bottom: 1px solid #efefef;
}

#chat #my-panel .user-message-types .type-list .title {
    text-transform: uppercase;
}

#chat #my-panel .user-message-types .type-list .type-list-items {
    width: 100%;
    position: absolute;
    left: 0;
    top: 62px;
}

#chat #my-panel .user-message-types .type-list .type-list-items .type-list-item {
    padding: 20px 15px;
    transition: 0.2s all ease-in;
    cursor: pointer;
}

#chat #my-panel .user-message-types .type-list .type-list-items .type-list-item:hover {
    cursor: pointer;
    background-color: #f1f2f2;
    color: black;
    outline: none;
    text-decoration: none;
}

#chat #my-panel .user-message-types .type-list .type-list-items .type-list-item .type-circle {
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 3px;
    margin-right: 20px;
}

#chat #my-panel .user-message-types .type-list .type-list-items .type-list-item .type-new-messages {
    flex: 1 1;
    background: #3b4f6a;
    border-radius: 30px;
    padding: 2px 10px;
    font-size: 13px;
    font-weight: bold;
}

#chat #my-panel .user-message-types .type-list .type-list-items .type-list-item .type-new-messages.friends,
#chat #my-panel .user-message-types .type-list .type-list-items .type-list-item .type-circle.friends{
    background: #66c797;
    color: #fff;
}

.tooltip,
.tooltip.bottom .tooltip-arrow{
    width: auto!important;
}

.add-button{
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    bottom: 0;
}

.btn-add-conversation{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.9rem;
    box-sizing: border-box;
    display: inline-block;
    background-color: transparent;
    border-radius: .5em;
    outline: none;
    color: #46bc99;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    transition: background-color .1s ease, border-color .1s ease;
    padding: 0.4em 1.75em;
    border: 1px solid #46bc99;
    color: #46bc99;
}

.btn-add-conversation:hover{
    background-color: rgba(70, 188, 153, 0.05);
    border: 1px solid #46bc99;
    color: #46bc99;
}

.conversations-list{
    flex: 1;
    overflow: auto;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 7px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #e7e7e7;
}

#chat #conversations .search-conversation{
    padding: 18px;
    border-bottom: 1px solid #efefef;
}

#chat #conversations .search-conversation .form-control{
    border: 0;
    box-shadow: none;
}

#chat #conversations .search-conversation button{
    border-radius: 100px;
}