/* Flex */
html, body {
    height: 100%;
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
}

.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex: 0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
    margin: -.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div, .row-flex > div[class*='col-'] div {
    width: 100%;
}

.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    flex-flow: column nowrap;
}

.flex-grow {
    display: flex;
    -webkit-flex: 2;
    flex: 2;
}

.flex-start {
    align-items: flex-start;
}

/* Helper classes */
.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.blue-background {
    background: #24344b;
}

.white-background {
    background: #ffffff;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-height-no-navbar {
    height: calc(100% - 51px);
}

.line-right {
    box-shadow: inset -1px 0 0 #f6f6f6;
}

/* Bootstrap override */
.navbar {
    margin-bottom: 0;
}

/* Master layout override */
#app {
    width: 100%;
    height: 100%;
}

/* Style for chat component */
#chat {

}

#chat .card {
    padding: 20px;
    background: #fff;
    width: 240px;
    height: 240px;
    box-shadow: 0px 3px 6px rgb(216, 216, 216);
    display: inline-block;
    margin: 10px;
    text-align: center;
    overflow: hidden;
}

#chat .card .card-img-top {
    border-radius: 15px;
    width: 55px;
}

#chat .card-title {
    font-size: 15px;
    font-weight: bold;
}

#chat .card-text {
    font-size: 13px;
    height: 80px;
    overflow: hidden;
}

#chat .chat-images {
    margin-bottom: 10px;
}

#chat .chat-images .chat-image {
    display: inline-block;
}

#chat #my-panel {
    padding: 20px 30px!important;
}

#chat #my-panel .top-icon {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
    transition: 0.2s all ease-in;
    cursor: pointer;
}

#chat #my-panel .top-icon:hover {
    color: rgba(255, 255, 255, 0.7);
}