.input-group{

    width: 75%;
    float: right;
}
.button-center {
    width: 100px;
    height: 50px;
    margin: 30px;
    text-align: center;

}
.centralize {
    text-align: center;
}

.group-box {

    height: 100px;
}
